<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tidak dapat mengubah password</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <h2>Tidak dapat merubah password</h2>
    
    <p>Halaman akan kembali ke Home. Loading... </p>
	<meta http-equiv="refresh" content="2; url=http://localhost:8080/"/>
</body>

</html>